.button{
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    border: none;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start:13px ;
    padding-block-end: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button.is-secondary{
background: unset;
border: 2px solid var(--purple);
color: var(--purple);

}