.hero{
    padding-block-start: 16px;
}

.hero-image{
    text-align: center;
}

.hero h1{
    font: var(--headline3);
    margin: 0;
}
.hero p{
    margin: 0;
}

.hero h1 span:nth-of-type(1){
    font: var(--headline5);
    display: block;
}

.hero-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-social{
    padding-block-end: 24px;
}

@media screen and (min-width: 768px){
    .hero{
    
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .hero-description{
        order: 1;
        max-inline-size: 450px;
      
    }
    .hero-image{
        order: 2;
        text-align: end;
        flex: 1;
    }


}

@media screen and (min-width: 1024px){

    .hero-image img{
        block-size:504px ;
        inline-size:500px ;
    }
}