.proyect{
    padding-block-start: 40px;
    padding-block-end: 40px ;
}

.proyect-img{
  
}

.proyect-img img{
  max-inline-size: 100%;
}

.proyect-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .proyect{
        display: flex;
        align-items: center;
        gap: 32px;
        padding-block-start: 80px;
        padding-block-end: 80px ;
    }
    .proyect-description{
        flex: 1;
    }
    .proyect:nth-child(odd) .proyect-img{
        order: 2;
        flex: 1;
        text-align: center;
    }
}