.title{
    background: var(--purple);
    align-self: flex-start;
    color: var(--white);
    text-decoration: none;
    font: var(--headline5);
    padding-inline-start:8px ;
    padding-inline-end:8px ;
    padding-block-start:4px ;
    padding-block-start:4px ;
    margin-inline-start: 4px ;
    box-shadow: -4px 4px 0px var(--white);
}